.menuBar {
  margin-top: 40px;
  border: 1px solid var(--border-color);
  padding: 16px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  button {
    background-color: white;
    outline: none;
    border: none;
    border-radius: 2px;
    padding: 4px 8px;
    cursor: pointer;
    &:hover {
      box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    }
  }
}
.isActived {
  background-color: var(--blue-color-bold) !important;

  color: white;
}
.editorContent {
  border: 1px solid var(--border-color);

  padding: 0 20px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  p:active {
    cursor: pointer;
  }
}

// Code Block
.codeBlock {
  position: relative;
  margin: 0 12px;
  select {
    position: absolute;
    right: 0.5rem;
    top: 0.5rem;
  }
}

//Describe
.describer {
  border: 1px solid #dbdbdb;
  margin: 0px 12px;
  max-height: 200px;
  overflow-y: scroll;
  border-radius: 0.5rem;
  padding: 0 1rem;
}

// Image

.tiptapImage {
  border-radius: 0.5rem;
  margin: 12px 0;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}
